<ion-header>
  <ion-toolbar>
    <ion-title>adminbar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Ana-Sayfa">
        <ion-icon name="person"></ion-icon>
        <ion-label>Ana Sayfa</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Engelle">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Engelle</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Ekle">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Ekle</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

