<ion-header>
  <ion-toolbar>
    <ion-title>ekleme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Marka Adı</ion-label>
      <ion-input type="text" id="marka" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Kategori</ion-label>
      <ion-input type="text" id="kategori" required></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating">Ürün Adı</ion-label>
      <ion-input type="text" id="urunadi" required></ion-input>
    </ion-item>
        
    <ion-item lines="full">
      <ion-label position="floating">Ürün Fiyatı</ion-label>
      <ion-input type="text" id="fiyat" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="urunkaydet()"expand="block">Ürünü Ekle</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
