<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div  class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Kayıt Ol</ion-button>
        <p>
          
        </p>
        <span class="already"></span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Giriş Yap</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>